body {
  background-image: url("/resources/animal-group.jpg");
}
button {
  border-radius: 50px;
  background-color: crimson;
  color: white;

}
h1 {
  text-align: center;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
#item {
  flex: auto;
  max-width: 50%;
  font-size: 20px;
  font-weight: 400;
}

.row {
  background-color: slateblue;
  font-size: 20px;
  font-weight: 400;
  align-content: space-around;
  align-items: center;
}
.col-md-6 {
  align-items: center;
  text-align: center;
}
